Alias /index.php            /usr/local/share/wordpress/{{ wp_version }}/index.php
Alias /wp-activate.php      /usr/local/share/wordpress/{{ wp_version }}/wp-activate.php
Alias /wp-admin             /usr/local/share/wordpress/{{ wp_version }}/wp-admin
Alias /wp-blog-header.php   /usr/local/share/wordpress/{{ wp_version }}/wp-blog-header.php
Alias /wp-comments-post.php /usr/local/share/wordpress/{{ wp_version }}/wp-comments-post.php
Alias /wp-config-sample.php /usr/local/share/wordpress/{{ wp_version }}/wp-config-sample.php
Alias /wp-cron.php          /usr/local/share/wordpress/{{ wp_version }}/wp-cron.php
Alias /wp-includes          /usr/local/share/wordpress/{{ wp_version }}/wp-includes
Alias /wp-links-opml.php    /usr/local/share/wordpress/{{ wp_version }}/wp-links-opml.php
Alias /wp-load.php          /usr/local/share/wordpress/{{ wp_version }}/wp-load.php
Alias /wp-login.php         /usr/local/share/wordpress/{{ wp_version }}/wp-login.php
Alias /wp-mail.php          /usr/local/share/wordpress/{{ wp_version }}/wp-mail.php
Alias /wp-settings.php      /usr/local/share/wordpress/{{ wp_version }}/wp-settings.php
Alias /wp-signup.php        /usr/local/share/wordpress/{{ wp_version }}/wp-signup.php
Alias /wp-trackback.php     /usr/local/share/wordpress/{{ wp_version }}/wp-trackback.php
Alias /xmlrpc.php           /usr/local/share/wordpress/{{ wp_version }}/xmlrpc.php
# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
