[Unit]
Description=The PHP {{ php_fpm.version }} FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=notify
PIDFile={{ php_fpm.run_path }}/{{ php_fpm.pid }}
ExecStart={{ php_fpm.bin }} --nodaemonize --fpm-config {{ php_fpm.conf_file }}
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
