<?php

//Database settings
$config['db_host'] = "localhost";
$config['db_user'] = "pdnsmanager";
$config['db_password'] = "{{ mysql_pdnsmanager_password }}";
$config['db_port'] = 3306;
$config['db_name'] = "powerdns";

